**/__pycache__

.coverage
.coverage_mytemplate
mytemplate_pypkg/htmlcov

mytemplate_pypkg/dist
mytemplate_pypkg/build
mytemplate_pypkg/src/mytemplate.egg-info

mytemplate2_pypkg/dist
mytemplate2_pypkg/build
mytemplate2_pypkg/src/mytemplate2.egg-info
